# Exclude everything
**

# Allow directories (IMPORTANT: trailing slash + /**)
!configs/
!configs/**

!project/
!project/**

!mmpose/
!mmpose/**

!tools/
!tools/**

!setup.py
!README.md

!requirements/
!requirements/**
!requirements.txt

!Dockerfile
!docker-compose.yml

project/visualizers
project/visualizers/**

.git
.gitignore
.idea
.vscode

.venv
venv
**/__pycache__
**/*.pyc
.pytest_cache
.mypy_cache
.ruff_cache

data/
datasets/
*.pt
*.pth
*.onnx
*.engine
*.ckpt
mlruns/
wandb/
outputs/
runs/

.dvc/cache
.dvc/tmp
