LABEL_STUDIO_URL="host:port"
LABEL_STUDIO_API_KEY="PAT"
BASIC_AUTH_USER=""
BASIC_AUTH_PASS=""
MMPOSE_CHECKPOINT="/app/models/mmpose/rtmpose-x_simcc-body7_pt-body7-halpe26_700e-384x288-7fb6e239_20230606.pth"
MMPOSE_CONFIG="/app/models/mmpose/rtmpose-x_8xb256-700e_body8-halpe26-384x288.py"
YOLO_MODEL="/app/models/yolo/yolov8m.pt"
DEVICE="cuda:0"
